    body {
        text-align: center;
        background-color: #2f052f;
        color: #cdcf81;
        font-family: 'Fira Code', monospace;
            }

    button {
        background-color: #067C91;
        color: #cdcf81;
        font-family: 'Fira Code', monospace;
        padding: 10px 10px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-size: large;
        }

    button:hover {
        background-color: #045C6E;
                }

    .container {
        margin-top: auto;
        background-color: #2f052f;
        color: #cdcf81;
        font-family: 'Fira Code', monospace;
                }

    input[type="submit"] {
        background-color: #067C91;
        color: #cdcf81;
        font-family: 'Fira Code', monospace;
        padding: 10px 10px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-size: large;
                        }

    input[type="submit"]:hover {
        background-color: #045C6E;
                                }
