{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

</head>
<body>

    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <div class="container">
    <h1>Регистрация аккаунта</h1>
    <form method="POST">
        {% csrf_token %}
        <h3><label for="email">Введите вашу почту:</label>
        <input type="text" id="email" name="email"><br></h3>

        <h3><label for="password">Введите ваш пароль:</label>
        <input type="password" id="password" name="password"><br></h3>

        <h3><label for="password_2">Повторите пароль:</label>
        <input type="password" id="password_2" name="password_2"><br></h3>

        <h3><label for="nickname">Введите никнейм:</label>
        <input type="text" id="nickname" name="nickname"><br></h3>

        <input type="submit" value="Регистрация">
    </form><br>
        </div>
    
    <button onclick="window.location.href = '/';">На главную</button>

</body>
</html>